lecm-iReferent-integration/repo/src/main/java/staffManager/WSBR_StaffManager.wsdl

<definitions name='WSStaffManagerImplService' targetNamespace='urn:DefaultNamespace' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='urn:DefaultNamespace' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='urn:DefaultNamespace' version='1.0' xmlns:tns='urn:DefaultNamespace' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:complexType name='WSO_CONTEXT'>
    <xs:sequence>
     <xs:element name='USERID' nillable='true' type='xs:string'/>
     <xs:element name='CLIENTTYPE' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='WSO_GROUP'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MGROUP'>
      <xs:sequence>
       <xs:element name='LEADER' nillable='true' type='tns:WSO_MPERSON'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MGROUP'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_STAFFOBJECT'>
      <xs:sequence>
       <xs:element name='CHILDS' nillable='true' type='tns:WSO_COLLECTION'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_STAFFOBJECT'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence>
       <xs:element name='PARENTS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='ATTACHMENTS' nillable='true' type='tns:WSO_COLLECTION'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSOBJECT'>
    <xs:sequence>
     <xs:element name='ID' nillable='true' type='xs:string'/>
     <xs:element name='TITLE' nillable='true' type='xs:string'/>
     <xs:element name='TYPE' nillable='true' type='xs:string'/>
     <xs:element name='EXTENSION' nillable='true' type='tns:WSO_COLLECTION'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='WSO_MPERSON'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_STAFFOBJECT'>
      <xs:sequence>
       <xs:element name='ISACTIVE' nillable='true' type='xs:boolean'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_COLLECTION'>
    <xs:sequence>
     <xs:element name='COUNT' type='xs:int'/>
     <xs:element minOccurs='0' name='DATA' nillable='true'>
      <xs:complexType>
       <xs:sequence>
        <xs:element maxOccurs='unbounded' minOccurs='0' name='item' nillable='true' type='xs:anyType'/>
       </xs:sequence>
      </xs:complexType>
     </xs:element>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='WSO_LINK'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence>
       <xs:element name='SOURCE' type='tns:WSO_MDOCUMENT'/>
       <xs:element name='TARGET' type='tns:WSO_MDOCUMENT'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MDOCUMENT'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence>
       <xs:element name='REGNUM' nillable='true' type='xs:string'/>
       <xs:element name='REGDATE' nillable='true' type='xs:dateTime'/>
       <xs:element name='SUBJECT' nillable='true' type='xs:string'/>
       <xs:element name='STATUSNAME' nillable='true' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_DOCUMENT_IN'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT_IN'>
      <xs:sequence>
       <xs:element name='COMMONPROPS' type='tns:WSO_DOCUMENTCOMMONPROPERTIES'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MDOCUMENT_IN'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_DOCUMENTCOMMONPROPERTIES'>
    <xs:sequence>
     <xs:element name='PAGESCOUNT' nillable='true' type='xs:integer'/>
     <xs:element name='COMMENTS' nillable='true' type='xs:string'/>
     <xs:element name='DOCTYPE' nillable='true' type='xs:string'/>
     <xs:element name='ATTACHMENTS' nillable='true' type='tns:WSO_COLLECTION'/>
     <xs:element name='LINKS' nillable='true' type='tns:WSO_COLLECTION'/>
     <xs:element name='RECIPIENTS' nillable='true' type='tns:WSO_COLLECTION'/>
     <xs:element name='URGENCYLEVEL' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='WSO_DOCUMENT_INT'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT_INT'>
      <xs:sequence>
       <xs:element name='COMMONPROPS' type='tns:WSO_DOCUMENTCOMMONPROPERTIES'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MDOCUMENT_INT'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_DOCUMENT_OUT'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT_OUT'>
      <xs:sequence>
       <xs:element name='COMMONPROPS' type='tns:WSO_DOCUMENTCOMMONPROPERTIES'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MDOCUMENT_OUT'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_DOCUMENT_ORD'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT_ORD'>
      <xs:sequence>
       <xs:element name='COMMONPROPS' type='tns:WSO_DOCUMENTCOMMONPROPERTIES'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MDOCUMENT_ORD'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_DOCUMENT_OG'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT_ORD'>
      <xs:sequence>
       <xs:element name='COMMONPROPS' type='tns:WSO_DOCUMENTCOMMONPROPERTIES'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_DOCUMENT_NPA'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT_NPA'>
      <xs:sequence>
       <xs:element name='COMMONPROPS' type='tns:WSO_DOCUMENTCOMMONPROPERTIES'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MDOCUMENT_NPA'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MDOCUMENT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_PERSON'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MPERSON'>
      <xs:sequence>
       <xs:element name='EMAIL' nillable='true' type='xs:string'/>
       <xs:element name='PHONE' nillable='true' type='xs:string'/>
       <xs:element name='WORKPHONE' nillable='true' type='xs:string'/>
       <xs:element name='FAX' nillable='true' type='xs:string'/>
       <xs:element name='POST' nillable='true' type='xs:string'/>
       <xs:element name='PROXIES' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='TRUSTERS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='FIRSTNAME' nillable='true' type='xs:string'/>
       <xs:element name='MIDDLENAME' nillable='true' type='xs:string'/>
       <xs:element name='LASTNAME' nillable='true' type='xs:string'/>
       <xs:element name='PHOTO' nillable='true' type='tns:WSO_COLLECTION'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_FILE'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MFILE'>
      <xs:sequence>
       <xs:element name='BODY' nillable='true' type='xs:base64Binary'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MFILE'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence>
       <xs:element name='NAME' nillable='true' type='xs:string'/>
       <xs:element name='DATE' nillable='true' type='xs:dateTime'/>
       <xs:element name='VERSION' nillable='true' type='xs:int'/>
       <xs:element name='USER' nillable='true' type='xs:string'/>
       <xs:element name='FIELDNAME' nillable='true' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_URLFILE'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence>
       <xs:element name='OBJECT' nillable='true' type='tns:WSOBJECT'/>
       <xs:element name='OBJECTPROPERTYNAME' nillable='true' type='xs:string'/>
       <xs:element name='NAME' nillable='true' type='xs:string'/>
       <xs:element name='CREATIONDATE' nillable='true' type='xs:anySimpleType'/>
       <xs:element name='VERSION' nillable='true' type='xs:int'/>
       <xs:element name='AUTHOR' nillable='true' type='tns:WSO_MPERSON'/>
       <xs:element name='REFERENCE' nillable='true' type='tns:WSO_URL'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_URL'>
    <xs:sequence>
     <xs:element name='URL' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='WSO_TASK'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MTASK'>
      <xs:sequence>
       <xs:element name='COMMENTS' nillable='true' type='xs:string'/>
       <xs:element name='ATTACHMENTS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='ZAMEXECUTORS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='VIEWERS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='DATEFACT' nillable='true' type='xs:dateTime'/>
       <xs:element name='DATESIGN' nillable='true' type='xs:dateTime'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MTASK'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence>
       <xs:element name='DOCUMENT' nillable='true' type='tns:WSO_MDOCUMENT'/>
       <xs:element name='PARENT' nillable='true' type='tns:WSO_MTASK'/>
       <xs:element name='SUBJECT' nillable='true' type='xs:string'/>
       <xs:element name='ISCONTROL' nillable='true' type='xs:boolean'/>
       <xs:element name='CHILDS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='DATEPLAN' nillable='true' type='xs:dateTime'/>
       <xs:element name='SIGNER' nillable='true' type='tns:WSO_MPERSON'/>
       <xs:element name='CONTROLLER' nillable='true' type='tns:WSO_MPERSON'/>
       <xs:element name='MAINEXECUTORS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='EXECUTORS' nillable='true' type='tns:WSO_COLLECTION'/>
       <xs:element name='STATUSNAME' nillable='true' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_TASKREPORT'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MTASKREPORT'>
      <xs:sequence>
       <xs:element name='TASK' nillable='true' type='tns:WSO_MTASK'/>
       <xs:element name='EXECUTOR' nillable='true' type='tns:WSO_MPERSON'/>
       <xs:element name='COMMENTS' nillable='true' type='xs:string'/>
       <xs:element name='ATTACHMENTS' nillable='true' type='tns:WSO_COLLECTION'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MTASKREPORT'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_TYPERESOLUTION'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_ITEM'>
    <xs:sequence>
     <xs:element name='ID' nillable='true' type='xs:string'/>
     <xs:element name='TITLE' nillable='true' type='xs:string'/>
     <xs:element name='TYPE' nillable='true' type='xs:string'/>
     <xs:element name='VALUES' nillable='true' type='tns:WSO_COLLECTION'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='WSOAPPROVAL'>
    <xs:complexContent>
     <xs:extension base='tns:WSO_MAPPROVAL'>
      <xs:sequence>
       <xs:element name='OBJECT' nillable='true' type='tns:WSOBJECT'/>
       <xs:element name='RESPONSIBLE' nillable='true' type='tns:WSO_MPERSON'/>
       <xs:element name='DEADLINEDATE' nillable='true' type='xs:dateTime'/>
       <xs:element name='COMMENT' nillable='true' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSO_MAPPROVAL'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence>
       <xs:element name='SUBJECT' nillable='true' type='xs:string'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSOAPPROVALREVIEW'>
    <xs:complexContent>
     <xs:extension base='tns:WSOMAPPROVALREVIEW'>
      <xs:sequence>
       <xs:element name='APPROVAL' nillable='true' type='tns:WSO_MAPPROVAL'/>
       <xs:element name='REVIEWER' nillable='true' type='tns:WSO_MPERSON'/>
       <xs:element name='DEADLINEDATE' nillable='true' type='xs:dateTime'/>
       <xs:element name='BEGINDATE' nillable='true' type='xs:dateTime'/>
       <xs:element name='REVIEWDATE' nillable='true' type='xs:dateTime'/>
       <xs:element name='SOLUTION' nillable='true' type='tns:WSOAPPROVALREVIEWSOLUTION'/>
       <xs:element name='ATTACHMENTS' nillable='true' type='tns:WSO_COLLECTION'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSOMAPPROVALREVIEW'>
    <xs:complexContent>
     <xs:extension base='tns:WSOBJECT'>
      <xs:sequence/>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='WSOAPPROVALREVIEWSOLUTION'>
    <xs:sequence>
     <xs:element name='TEXT' nillable='true' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='WS_StaffManager_getOrganizations'>
  <part name='ISMOBJECT' type='xsd:boolean'></part>
  <part name='INCLUDEATTACHMENTS' type='xsd:boolean'></part>
  <part name='CONTEXT' type='tns:WSO_CONTEXT'></part>
 </message>
 <message name='WS_StaffManager_getPersons'>
  <part name='GROUPID' type='xsd:string'></part>
  <part name='ISMOBJECT' type='xsd:boolean'></part>
  <part name='CHILDSLEVEL' type='xsd:int'></part>
  <part name='INCLUDEATTACHMENTS' type='xsd:boolean'></part>
  <part name='CONTEXT' type='tns:WSO_CONTEXT'></part>
 </message>
 <message name='WS_StaffManager_getStructureResponse'>
  <part name='return' type='tns:WSO_GROUP'></part>
 </message>
 <message name='WS_StaffManager_getPersonsResponse'>
  <part name='return' type='tns:WSO_COLLECTION'></part>
 </message>
 <message name='WS_StaffManager_getGroupResponse'>
  <part name='return' type='tns:WSO_GROUP'></part>
 </message>
 <message name='WS_StaffManager_getPerson'>
  <part name='ID' type='xsd:string'></part>
  <part name='INCLUDEATTACHMENTS' type='xsd:boolean'></part>
  <part name='CONTEXT' type='tns:WSO_CONTEXT'></part>
 </message>
 <message name='WS_StaffManager_getStructure'>
  <part name='GROUPID' type='xsd:string'></part>
  <part name='ISMOBJECT' type='xsd:boolean'></part>
  <part name='CHILDSLEVEL' type='xsd:int'></part>
  <part name='INCLUDEATTACHMENTS' type='xsd:boolean'></part>
  <part name='CONTEXT' type='tns:WSO_CONTEXT'></part>
 </message>
 <message name='WS_StaffManager_getPersonIdResponse'>
  <part name='return' type='tns:WSOBJECT'></part>
 </message>
 <message name='WS_StaffManager_getPersonId'>
  <part name='PERSONLOGIN' type='xsd:string'></part>
 </message>
 <message name='WS_StaffManager_getOrganizationsResponse'>
  <part name='return' type='tns:WSO_COLLECTION'></part>
 </message>
 <message name='WS_StaffManager_getGroup'>
  <part name='ID' type='xsd:string'></part>
  <part name='INCLUDEATTACHMENTS' type='xsd:boolean'></part>
  <part name='CONTEXT' type='tns:WSO_CONTEXT'></part>
 </message>
 <message name='WS_StaffManager_getPersonResponse'>
  <part name='return' type='tns:WSO_PERSON'></part>
 </message>
 <portType name='WS_StaffManager'>
  <operation name='getGroup' parameterOrder='ID INCLUDEATTACHMENTS CONTEXT'>
   <input message='tns:WS_StaffManager_getGroup'></input>
   <output message='tns:WS_StaffManager_getGroupResponse'></output>
  </operation>
  <operation name='getOrganizations' parameterOrder='ISMOBJECT INCLUDEATTACHMENTS CONTEXT'>
   <input message='tns:WS_StaffManager_getOrganizations'></input>
   <output message='tns:WS_StaffManager_getOrganizationsResponse'></output>
  </operation>
  <operation name='getPerson' parameterOrder='ID INCLUDEATTACHMENTS CONTEXT'>
   <input message='tns:WS_StaffManager_getPerson'></input>
   <output message='tns:WS_StaffManager_getPersonResponse'></output>
  </operation>
  <operation name='getPersonId' parameterOrder='PERSONLOGIN'>
   <input message='tns:WS_StaffManager_getPersonId'></input>
   <output message='tns:WS_StaffManager_getPersonIdResponse'></output>
  </operation>
  <operation name='getPersons' parameterOrder='GROUPID ISMOBJECT CHILDSLEVEL INCLUDEATTACHMENTS CONTEXT'>
   <input message='tns:WS_StaffManager_getPersons'></input>
   <output message='tns:WS_StaffManager_getPersonsResponse'></output>
  </operation>
  <operation name='getStructure' parameterOrder='GROUPID ISMOBJECT CHILDSLEVEL INCLUDEATTACHMENTS CONTEXT'>
   <input message='tns:WS_StaffManager_getStructure'></input>
   <output message='tns:WS_StaffManager_getStructureResponse'></output>
  </operation>
 </portType>
 <binding name='WS_StaffManagerBinding' type='tns:WS_StaffManager'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getGroup'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </input>
   <output>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </output>
  </operation>
  <operation name='getOrganizations'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </input>
   <output>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </output>
  </operation>
  <operation name='getPerson'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </input>
   <output>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </output>
  </operation>
  <operation name='getPersonId'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </input>
   <output>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </output>
  </operation>
  <operation name='getPersons'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </input>
   <output>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </output>
  </operation>
  <operation name='getStructure'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </input>
   <output>
    <soap:body namespace='urn:DefaultNamespace' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='WSStaffManagerImplService'>
  <port binding='tns:WS_StaffManagerBinding' name='WS_StaffManagerPort'>
   <soap:address location='http://Mobile-4J:8080/IReferentServices/WSBR_StaffManager'/>
  </port>
 </service>
</definitions>