lecm-business-journal/repo/src/main/java/ru/it/lecm/businessjournal/remote/BRService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://remote.businessjournal.lecm.it.ru/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="BusinessJournalStoreImplService" targetNamespace="http://remote.businessjournal.lecm.it.ru/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://remote.businessjournal.lecm.it.ru/" elementFormDefault="unqualified" targetNamespace="http://remote.businessjournal.lecm.it.ru/" version="1.0">

  <xs:element name="getHistory" type="tns:getHistory"/>

  <xs:element name="getHistoryByCategory" type="tns:getHistoryByCategory"/>

  <xs:element name="getHistoryByCategoryResponse" type="tns:getHistoryByCategoryResponse"/>

  <xs:element name="getHistoryResponse" type="tns:getHistoryResponse"/>

  <xs:element name="getLastRecords" type="tns:getLastRecords"/>

  <xs:element name="getLastRecordsResponse" type="tns:getLastRecordsResponse"/>

  <xs:element name="getNodeById" type="tns:getNodeById"/>

  <xs:element name="getNodeByIdResponse" type="tns:getNodeByIdResponse"/>

  <xs:element name="getRecords" type="tns:getRecords"/>

  <xs:element name="getRecordsAfter" type="tns:getRecordsAfter"/>

  <xs:element name="getRecordsAfterResponse" type="tns:getRecordsAfterResponse"/>

  <xs:element name="getRecordsByInterval" type="tns:getRecordsByInterval"/>

  <xs:element name="getRecordsByIntervalResponse" type="tns:getRecordsByIntervalResponse"/>

  <xs:element name="getRecordsByParams" type="tns:getRecordsByParams"/>

  <xs:element name="getRecordsByParamsResponse" type="tns:getRecordsByParamsResponse"/>

  <xs:element name="getRecordsCount" type="tns:getRecordsCount"/>

  <xs:element name="getRecordsCountResponse" type="tns:getRecordsCountResponse"/>

  <xs:element name="getRecordsResponse" type="tns:getRecordsResponse"/>

  <xs:element name="moveRecordToArchive" type="tns:moveRecordToArchive"/>

  <xs:element name="moveRecordToArchiveResponse" type="tns:moveRecordToArchiveResponse"/>

  <xs:element name="save" type="tns:save"/>

  <xs:element name="saveResponse" type="tns:saveResponse"/>

  <xs:complexType name="getRecordsByParams">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ObjectTypes" type="xs:long"/>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Inititators" type="xs:long"/>
      <xs:element minOccurs="0" name="SkipCount" type="xs:int"/>
      <xs:element minOccurs="0" name="MaxItems" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsByParamsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="businessJournalStoreRecord">
    <xs:sequence>
      <xs:element name="active" type="xs:boolean"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="eventCategoryId" type="xs:long"/>
      <xs:element minOccurs="0" name="eventCategoryStringId" type="xs:string"/>
      <xs:element minOccurs="0" name="eventCategoryText" type="xs:string"/>
      <xs:element minOccurs="0" name="initiatorId" type="xs:long"/>
      <xs:element minOccurs="0" name="initiatorStringId" type="xs:string"/>
      <xs:element minOccurs="0" name="initiatorText" type="xs:string"/>
      <xs:element minOccurs="0" name="mainObjectDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="mainObjectId" type="xs:long"/>
      <xs:element minOccurs="0" name="mainObjectStringId" type="xs:string"/>
      <xs:element minOccurs="0" name="nodeId" type="xs:long"/>
      <xs:element minOccurs="0" name="obj1LongId" type="xs:long"/>
      <xs:element minOccurs="0" name="obj1StringValue" type="xs:string"/>
      <xs:element minOccurs="0" name="obj2LongId" type="xs:long"/>
      <xs:element minOccurs="0" name="obj2StringValue" type="xs:string"/>
      <xs:element minOccurs="0" name="obj3LongId" type="xs:long"/>
      <xs:element minOccurs="0" name="obj3StringValue" type="xs:string"/>
      <xs:element minOccurs="0" name="obj4LongId" type="xs:long"/>
      <xs:element minOccurs="0" name="obj4StringValue" type="xs:string"/>
      <xs:element minOccurs="0" name="obj5LongId" type="xs:long"/>
      <xs:element minOccurs="0" name="obj5StringValue" type="xs:string"/>
      <xs:element minOccurs="0" name="objectTypeId" type="xs:long"/>
      <xs:element minOccurs="0" name="objectTypeStringId" type="xs:string"/>
      <xs:element minOccurs="0" name="objectTypeText" type="xs:string"/>
      <xs:element minOccurs="0" name="recordDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="MainObjectID" type="xs:long"/>
      <xs:element minOccurs="0" name="SortField" type="tns:field"/>
      <xs:element name="sortAscending" type="xs:boolean"/>
      <xs:element name="IncludeSecondaryRecords" type="xs:boolean"/>
      <xs:element name="IncludeArchivedRecords" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHistoryResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsCount">
    <xs:sequence>
      <xs:element name="Filter">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="tns:field"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AndFilter" type="xs:boolean"/>
      <xs:element name="includeArchived" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsCountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecords">
    <xs:sequence>
      <xs:element minOccurs="0" name="SortField" type="tns:field"/>
      <xs:element name="SortAscending" type="xs:boolean"/>
      <xs:element name="StartIndex" type="xs:int"/>
      <xs:element name="MaxResults" type="xs:int"/>
      <xs:element name="Filter">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="tns:field"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AndFilter" type="xs:boolean"/>
      <xs:element name="IncludeArchived" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="save">
    <xs:sequence>
      <xs:element minOccurs="0" name="record" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getLastRecords">
    <xs:sequence>
      <xs:element name="MaxRecordsCount" type="xs:int"/>
      <xs:element name="IncludeArchived" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getLastRecordsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsAfter">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecordID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsAfterResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="moveRecordToArchive">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecordID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="moveRecordToArchiveResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsByInterval">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRecordsByIntervalResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHistoryByCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="mainObjId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="categoriesList" type="xs:long"/>
      <xs:element minOccurs="0" name="sortField" type="tns:field"/>
      <xs:element name="sortAscending" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHistoryByCategoryResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNodeById">
    <xs:sequence>
      <xs:element minOccurs="0" name="RecordID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNodeByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:businessJournalStoreRecord"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="field">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DATE"/>
      <xs:enumeration value="OBJECT_TYPE"/>
      <xs:enumeration value="EVENT_CATEGORY"/>
      <xs:enumeration value="MAIN_OBJECT"/>
      <xs:enumeration value="INITIATOR"/>
      <xs:enumeration value="INITIATOR_TEXT"/>
      <xs:enumeration value="MAIN_OBJECT_TEXT"/>
      <xs:enumeration value="OBJECT_TYPE_TEXT"/>
      <xs:enumeration value="EVENT_CATEGORY_TEXT"/>
      <xs:enumeration value="OBJECT_1_TEXT"/>
      <xs:enumeration value="OBJECT_2_TEXT"/>
      <xs:enumeration value="OBJECT_3_TEXT"/>
      <xs:enumeration value="OBJECT_4_TEXT"/>
      <xs:enumeration value="OBJECT_5_TEXT"/>
      <xs:enumeration value="RECORD_DESCRIPTION"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getLastRecordsResponse">
    <wsdl:part element="tns:getLastRecordsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="save">
    <wsdl:part element="tns:save" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsByInterval">
    <wsdl:part element="tns:getRecordsByInterval" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNodeById">
    <wsdl:part element="tns:getNodeById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsByIntervalResponse">
    <wsdl:part element="tns:getRecordsByIntervalResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsAfterResponse">
    <wsdl:part element="tns:getRecordsAfterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistory">
    <wsdl:part element="tns:getHistory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsAfter">
    <wsdl:part element="tns:getRecordsAfter" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsByParamsResponse">
    <wsdl:part element="tns:getRecordsByParamsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsCount">
    <wsdl:part element="tns:getRecordsCount" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsCountResponse">
    <wsdl:part element="tns:getRecordsCountResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryResponse">
    <wsdl:part element="tns:getHistoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecords">
    <wsdl:part element="tns:getRecords" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsResponse">
    <wsdl:part element="tns:getRecordsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryByCategoryResponse">
    <wsdl:part element="tns:getHistoryByCategoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRecordsByParams">
    <wsdl:part element="tns:getRecordsByParams" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveResponse">
    <wsdl:part element="tns:saveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveRecordToArchive">
    <wsdl:part element="tns:moveRecordToArchive" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNodeByIdResponse">
    <wsdl:part element="tns:getNodeByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHistoryByCategory">
    <wsdl:part element="tns:getHistoryByCategory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="moveRecordToArchiveResponse">
    <wsdl:part element="tns:moveRecordToArchiveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastRecords">
    <wsdl:part element="tns:getLastRecords" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BusinessJournalStore">
    <wsdl:operation name="getRecordsByParams">
      <wsdl:input message="tns:getRecordsByParams" name="getRecordsByParams">
    </wsdl:input>
      <wsdl:output message="tns:getRecordsByParamsResponse" name="getRecordsByParamsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistory">
      <wsdl:input message="tns:getHistory" name="getHistory">
    </wsdl:input>
      <wsdl:output message="tns:getHistoryResponse" name="getHistoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordsCount">
      <wsdl:input message="tns:getRecordsCount" name="getRecordsCount">
    </wsdl:input>
      <wsdl:output message="tns:getRecordsCountResponse" name="getRecordsCountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <wsdl:input message="tns:getRecords" name="getRecords">
    </wsdl:input>
      <wsdl:output message="tns:getRecordsResponse" name="getRecordsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <wsdl:input message="tns:save" name="save">
    </wsdl:input>
      <wsdl:output message="tns:saveResponse" name="saveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastRecords">
      <wsdl:input message="tns:getLastRecords" name="getLastRecords">
    </wsdl:input>
      <wsdl:output message="tns:getLastRecordsResponse" name="getLastRecordsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordsAfter">
      <wsdl:input message="tns:getRecordsAfter" name="getRecordsAfter">
    </wsdl:input>
      <wsdl:output message="tns:getRecordsAfterResponse" name="getRecordsAfterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moveRecordToArchive">
      <wsdl:input message="tns:moveRecordToArchive" name="moveRecordToArchive">
    </wsdl:input>
      <wsdl:output message="tns:moveRecordToArchiveResponse" name="moveRecordToArchiveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordsByInterval">
      <wsdl:input message="tns:getRecordsByInterval" name="getRecordsByInterval">
    </wsdl:input>
      <wsdl:output message="tns:getRecordsByIntervalResponse" name="getRecordsByIntervalResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryByCategory">
      <wsdl:input message="tns:getHistoryByCategory" name="getHistoryByCategory">
    </wsdl:input>
      <wsdl:output message="tns:getHistoryByCategoryResponse" name="getHistoryByCategoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNodeById">
      <wsdl:input message="tns:getNodeById" name="getNodeById">
    </wsdl:input>
      <wsdl:output message="tns:getNodeByIdResponse" name="getNodeByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessJournalStoreImplServiceSoapBinding" type="tns:BusinessJournalStore">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getHistory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHistory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHistoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordsByParams">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecordsByParams">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecordsByParamsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordsCount">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecordsCount">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecordsCountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecords">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="save">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="save">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastRecords">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLastRecords">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLastRecordsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordsAfter">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecordsAfter">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecordsAfterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistoryByCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getHistoryByCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHistoryByCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRecordsByInterval">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRecordsByInterval">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecordsByIntervalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="moveRecordToArchive">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="moveRecordToArchive">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="moveRecordToArchiveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNodeById">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNodeById">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNodeByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessJournalStoreImplService">
    <wsdl:port binding="tns:BusinessJournalStoreImplServiceSoapBinding" name="BusinessJournalStoreImplPort">
      <soap:address location="http://127.0.0.1:8090/BRService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>