lecm-mobile/repo/src/main/java/ru/it/lecm/mobile/services/staffManager/WSBR_StaffManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:DefaultNamespace" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:DefaultNamespace"
             xmlns:intf="urn:DefaultNamespace" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="urn:DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="WSO_FILE">
                <sequence>
                    <element name="NAME" nillable="true" type="xsd:string"/>
                    <element name="BODY" nillable="true" type="xsd:base64Binary"/>
                </sequence>
            </complexType>
            <complexType name="WSO_EDS">
                <sequence>
                    <element name="SIGNATURE" nillable="true" type="xsd:string"/>
                    <element name="WHO" nillable="true" type="xsd:string"/>
                    <element name="WHEN" nillable="true" type="xsd:string"/>
                    <element name="FIELDS" nillable="true" type="xsd:string"/>
                    <element name="STAGE" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="WSO_CONTEXT">
                <sequence>
                    <element name="USERID" nillable="true" type="xsd:string"/>
                    <element name="CLIENTTYPE" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="WSO_COLLECTION">
                <sequence>
                    <element name="COUNT" type="xsd:short"/>
                    <element name="DATA" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </complexType>
            <complexType name="WSOBJECT">
                <sequence>
                    <element name="ID" nillable="true" type="xsd:string"/>
                    <element name="TITLE" nillable="true" type="xsd:string"/>
                    <element name="TYPE" nillable="true" type="xsd:string"/>
                    <element name="EXTENSION" nillable="true" type="impl:WSO_COLLECTION"/>
                </sequence>
            </complexType>
            <complexType name="WSO_STAFFOBJECT">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="PARENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MPERSON">
                <complexContent>
                    <extension base="impl:WSO_STAFFOBJECT">
                        <sequence>
                            <element name="ISACTIVE" nillable="true" type="xsd:boolean"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_PERSON">
                <complexContent>
                    <extension base="impl:WSO_MPERSON">
                        <sequence>
                            <element name="EMAIL" nillable="true" type="xsd:string"/>
                            <element name="PHONE" nillable="true" type="xsd:string"/>
                            <element name="FAX" nillable="true" type="xsd:string"/>
                            <element name="POST" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="PROXIES" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="TRUSTERS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="FIRSTNAME" nillable="true" type="xsd:string"/>
                            <element name="MIDDLENAME" nillable="true" type="xsd:string"/>
                            <element name="LASTNAME" nillable="true" type="xsd:string"/>
                            <element name="PHOTO" nillable="true" type="impl:WSO_FILE"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MGROUP">
                <complexContent>
                    <extension base="impl:WSO_STAFFOBJECT">
                        <sequence>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_GROUP">
                <complexContent>
                    <extension base="impl:WSO_MGROUP">
                        <sequence>
                            <element name="LEADER" nillable="true" type="impl:WSO_MPERSON"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_ITEM">
                <sequence>
                    <element name="ID" nillable="true" type="xsd:string"/>
                    <element name="TITLE" nillable="true" type="xsd:string"/>
                    <element name="VALUES" nillable="true" type="impl:WSO_COLLECTION"/>
                    <element name="TYPE" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="WSO_MDOCUMENTVISA">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="REGNUM" nillable="true" type="xsd:string"/>
                            <element name="REGDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                            <element name="STATUSNAME" nillable="true" type="xsd:string"/>
                            <element name="STATUSMOBILE" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENTVISA">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENTVISA">
                        <sequence>
                            <element name="DOCUMENT" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="APPVERSION" nillable="true" type="xsd:integer"/>
                            <element name="ACTIVITYNAME" nillable="true" type="xsd:string"/>
                            <element name="BLOCKNUM" nillable="true" type="xsd:integer"/>
                            <element name="BLOCKNAME" nillable="true" type="xsd:string"/>
                            <element name="REVIEWERNAME" nillable="true" type="xsd:string"/>
                            <element name="REVIEWER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="REALREVIEWER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="INDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="SIGNDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="DECISION" nillable="true" type="xsd:string"/>
                            <element name="COMMENT" nillable="true" type="xsd:string"/>
                            <element name="HASATTACH" nillable="true" type="xsd:boolean"/>
                            <element name="STATUS" nillable="true" type="xsd:integer"/>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_FORMACTION">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MTASK">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="DOCUMENT" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="PARENT" nillable="true" type="impl:WSO_MTASK"/>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                            <element name="ISCONTROL" nillable="true" type="xsd:boolean"/>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="DATEPLAN" nillable="true" type="xsd:dateTime"/>
                            <element name="SIGNER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="CONTROLLER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="MAINEXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="EXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="SUBEXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="STATUSNAME" nillable="true" type="xsd:string"/>
                            <element name="STATUSMOBILE" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_TASK">
                <complexContent>
                    <extension base="impl:WSO_MTASK">
                        <sequence>
                            <element name="COMMENTS" nillable="true" type="xsd:string"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="VIEWERS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="DATEFACT" nillable="true" type="xsd:dateTime"/>
                            <element name="DATESIGN" nillable="true" type="xsd:dateTime"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MAPPROVAL">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="VERSION" nillable="true" type="xsd:integer"/>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_APPROVAL">
                <complexContent>
                    <extension base="impl:WSO_MAPPROVAL">
                        <sequence>
                            <element name="COMMENT" nillable="true" type="xsd:string"/>
                            <element name="DOCUMENT" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="DEADLINEDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="APPROVALREVIEWS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MAPPROVALREVIEW">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_APPROVALREVIEW">
                <complexContent>
                    <extension base="impl:WSO_MAPPROVALREVIEW">
                        <sequence>
                            <element name="APPROVAL" nillable="true" type="impl:WSO_APPROVAL"/>
                            <element name="REVIEWER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="DEADLINEDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="BEGINDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="ANSWERDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="SOLUTION" nillable="true" type="xsd:string"/>
                            <element name="REMARK" nillable="true" type="xsd:string"/>
                            <element name="STAGE" nillable="true" type="xsd:string"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="STATUS" nillable="true" type="xsd:string"/>
                            <element name="BLOCKNAME" nillable="true" type="xsd:string"/>
                            <element name="BLOCKTYPE" nillable="true" type="xsd:string"/>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_IN">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENTCOMMONPROPERTIES">
                <sequence>
                    <element name="PAGESCOUNT" type="xsd:short"/>
                    <element name="COMMENTS" nillable="true" type="xsd:string"/>
                    <element name="DOCTYPE" nillable="true" type="xsd:string"/>
                    <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                    <element name="LINKS" nillable="true" type="impl:WSO_COLLECTION"/>
                    <element name="RECIPIENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                </sequence>
            </complexType>
            <complexType name="WSO_DOCUMENT_IN">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_IN">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_URL">
                <sequence>
                    <element name="URL" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="WSO_URLFILE">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="OBJECT" nillable="true" type="impl:WSOBJECT"/>
                            <element name="OBJECTPROPERTYNAME" nillable="true" type="xsd:string"/>
                            <element name="NAME" nillable="true" type="xsd:string"/>
                            <element name="CREATIONDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="VERSION" nillable="true" type="xsd:integer"/>
                            <element name="AUTHOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="REFERENCE" nillable="true" type="impl:WSO_URL"/>
                            <element name="BODY" nillable="true" type="xsd:string"/>
                            <element name="DATE" nillable="true" type="xsd:dateTime"/>
                            <element name="USER" nillable="true" type="xsd:string"/>
                            <element name="FIELDNAME" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_LINK">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="SOURCE" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="TARGET" nillable="true" type="impl:WSO_MDOCUMENT"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OUT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OUT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OUT">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_ORD">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_ORD">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_ORD">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MTASKREPORT">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_TASKREPORT">
                <complexContent>
                    <extension base="impl:WSO_MTASKREPORT">
                        <sequence>
                            <element name="TASK" nillable="true" type="impl:WSO_MTASK"/>
                            <element name="EXECUTOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="COMMENTS" nillable="true" type="xsd:string"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OG">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OGR">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OG">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OG">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OGR">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OGR">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OUT_DRAFT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OUT_DRAFT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OUT_DRAFT">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MISSIONLABEL">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                            <element name="DATEPLAN" nillable="true" type="xsd:dateTime"/>
                            <element name="DATESIGN" nillable="true" type="xsd:dateTime"/>
                            <element name="ISCONTROL" nillable="true" type="xsd:boolean"/>
                            <element name="SIGNER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="CONTROLLER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="MAINEXECUTOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="EXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_GLOSSARYENTRY">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_ROUTE">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="SETUPDOC" nillable="true" type="impl:WSO_DOCUMENT"/>
                            <element name="APPROVAL" nillable="true" type="impl:WSO_APPROVAL"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_GLOSSARY">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="ITEMS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDISCUSSION">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="AUTHOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="PARENTDOCID" nillable="true" type="xsd:string"/>
                            <element name="MESSAGE" nillable="true" type="xsd:string"/>
                            <element name="PARENTDISCUSSIONID" nillable="true" type="xsd:string"/>
                            <element name="READERS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="RESPONSES" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="CREATIONDATE" nillable="true" type="xsd:dateTime"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
        </schema>
    </wsdl:types>
    <message name="GETFAKESIGNRequest"></message>
    <message name="GETPERSONSRequest">
        <part name="IDDEP" type="xsd:string"/>
        <part name="ISMOBJECT" type="xsd:boolean"/>
        <part name="CHILDSLEVEL" type="xsd:integer"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETITEMRequest"></message>
    <message name="GETITEMFILEResponse">
        <part name="GETITEMFILEReturn" type="impl:WSO_FILE"/>
    </message>
    <message name="GETGROUPRequest">
        <part name="IDGR" type="xsd:string"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETORGANIZATIONSRequest">
        <part name="ISMOBJECT" type="xsd:boolean"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETPERSONRequest">
        <part name="IDPERSON" type="xsd:string"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETORGANIZATIONSResponse">
        <part name="GETORGANIZATIONSReturn" type="impl:WSO_COLLECTION"/>
    </message>
    <message name="GETITEMResponse">
        <part name="GETITEMReturn" type="impl:WSO_ITEM"/>
    </message>
    <message name="GETITEMFILERequest"></message>
    <message name="GETGROUPResponse">
        <part name="GETGROUPReturn" type="impl:WSO_GROUP"/>
    </message>
    <message name="GETFAKESIGNResponse">
        <part name="GETFAKESIGNReturn" type="impl:WSO_EDS"/>
    </message>
    <message name="GETPERSONSResponse">
        <part name="GETPERSONSReturn" type="impl:WSO_COLLECTION"/>
    </message>
    <message name="GETPERSONResponse">
        <part name="GETPERSONReturn" type="impl:WSO_PERSON"/>
    </message>
    <message name="GETSTRUCTURERequest">
        <part name="IDORG" type="xsd:string"/>
        <part name="CHILDSLEVEL" type="xsd:integer"/>
        <part name="ISMOBJECT" type="xsd:boolean"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETSTRUCTUREResponse">
        <part name="GETSTRUCTUREReturn" type="impl:WSO_GROUP"/>
    </message>
    <portType name="WS_StaffManager">
        <operation name="GETITEMFILE">
            <input message="impl:GETITEMFILERequest" name="GETITEMFILERequest"/>
            <output message="impl:GETITEMFILEResponse" name="GETITEMFILEResponse"/>
        </operation>
        <operation name="GETFAKESIGN">
            <input message="impl:GETFAKESIGNRequest" name="GETFAKESIGNRequest"/>
            <output message="impl:GETFAKESIGNResponse" name="GETFAKESIGNResponse"/>
        </operation>
        <operation name="GETPERSON" parameterOrder="IDPERSON INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETPERSONRequest" name="GETPERSONRequest"/>
            <output message="impl:GETPERSONResponse" name="GETPERSONResponse"/>
        </operation>
        <operation name="GETGROUP" parameterOrder="IDGR INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETGROUPRequest" name="GETGROUPRequest"/>
            <output message="impl:GETGROUPResponse" name="GETGROUPResponse"/>
        </operation>
        <operation name="GETORGANIZATIONS" parameterOrder="ISMOBJECT INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETORGANIZATIONSRequest" name="GETORGANIZATIONSRequest"/>
            <output message="impl:GETORGANIZATIONSResponse" name="GETORGANIZATIONSResponse"/>
        </operation>
        <operation name="GETPERSONS" parameterOrder="IDDEP ISMOBJECT CHILDSLEVEL INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETPERSONSRequest" name="GETPERSONSRequest"/>
            <output message="impl:GETPERSONSResponse" name="GETPERSONSResponse"/>
        </operation>
        <operation name="GETSTRUCTURE" parameterOrder="IDORG CHILDSLEVEL ISMOBJECT INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETSTRUCTURERequest" name="GETSTRUCTURERequest"/>
            <output message="impl:GETSTRUCTUREResponse" name="GETSTRUCTUREResponse"/>
        </operation>
        <operation name="GETITEM">
            <input message="impl:GETITEMRequest" name="GETITEMRequest"/>
            <output message="impl:GETITEMResponse" name="GETITEMResponse"/>
        </operation>
    </portType>
    <binding name="StaffSoapBinding" type="impl:WS_StaffManager">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GETITEMFILE">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETITEMFILERequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETITEMFILEResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
        <operation name="GETFAKESIGN">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETFAKESIGNRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETFAKESIGNResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
        <operation name="GETPERSON">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETPERSONRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETPERSONResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
        <operation name="GETGROUP">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETGROUPRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETGROUPResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
        <operation name="GETORGANIZATIONS">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETORGANIZATIONSRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETORGANIZATIONSResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
        <operation name="GETPERSONS">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETPERSONSRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETPERSONSResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
        <operation name="GETSTRUCTURE">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETSTRUCTURERequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETSTRUCTUREResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
        <operation name="GETITEM">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETITEMRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </input>
            <output name="GETITEMResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace"/>
            </output>
        </operation>
    </binding>
    <service name="WS_StaffManagerService">
        <port binding="impl:StaffSoapBinding" name="Staff">
            <wsdlsoap:address location="http://94.125.95.17:80/Referent/br_itws.nsf/WSBR_StaffManager?OpenWebService"/>
        </port>
    </service>
</definitions>