lecm-mobile/repo/src/main/java/ru/it/lecm/mobile/services/documentManager/WSBR_DocumentManager.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:DefaultNamespace" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:DefaultNamespace"
             xmlns:intf="urn:DefaultNamespace" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="urn:DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="WSO_EDS">
                <sequence>
                    <element name="SIGNATURE" nillable="true" type="xsd:string"/>
                    <element name="WHO" nillable="true" type="xsd:string"/>
                    <element name="WHEN" nillable="true" type="xsd:string"/>
                    <element name="FIELDS" nillable="true" type="xsd:string"/>
                    <element name="STAGE" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="WSO_CONTEXT">
                <sequence>
                    <element name="USERID" nillable="true" type="xsd:string"/>
                    <element name="CLIENTTYPE" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOf_xsd_anyType">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="WSO_COLLECTION">
                <sequence>
                    <element name="COUNT" type="xsd:short"/>
                    <element name="DATA" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
                </sequence>
            </complexType>
            <complexType name="WSOBJECT">
                <sequence>
                    <element name="ID" nillable="true" type="xsd:string"/>
                    <element name="TITLE" nillable="true" type="xsd:string"/>
                    <element name="TYPE" nillable="true" type="xsd:string"/>
                    <element name="EXTENSION" nillable="true" type="impl:WSO_COLLECTION"/>
                </sequence>
            </complexType>
            <complexType name="WSO_MDOCUMENT">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="REGNUM" nillable="true" type="xsd:string"/>
                            <element name="REGDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                            <element name="STATUSNAME" nillable="true" type="xsd:string"/>
                            <element name="STATUSMOBILE" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENTCOMMONPROPERTIES">
                <sequence>
                    <element name="PAGESCOUNT" type="xsd:short"/>
                    <element name="COMMENTS" nillable="true" type="xsd:string"/>
                    <element name="DOCTYPE" nillable="true" type="xsd:string"/>
                    <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                    <element name="LINKS" nillable="true" type="impl:WSO_COLLECTION"/>
                    <element name="RECIPIENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                </sequence>
            </complexType>
            <complexType name="WSO_DOCUMENT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MAPPROVAL">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="VERSION" nillable="true" type="xsd:integer"/>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_APPROVAL">
                <complexContent>
                    <extension base="impl:WSO_MAPPROVAL">
                        <sequence>
                            <element name="COMMENT" nillable="true" type="xsd:string"/>
                            <element name="DOCUMENT" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="DEADLINEDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="APPROVALREVIEWS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_ROUTE">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="SETUPDOC" nillable="true" type="impl:WSO_DOCUMENT"/>
                            <element name="APPROVAL" nillable="true" type="impl:WSO_APPROVAL"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_ITEM">
                <sequence>
                    <element name="ID" nillable="true" type="xsd:string"/>
                    <element name="TITLE" nillable="true" type="xsd:string"/>
                    <element name="VALUES" nillable="true" type="impl:WSO_COLLECTION"/>
                    <element name="TYPE" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="WSO_STAFFOBJECT">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="PARENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MGROUP">
                <complexContent>
                    <extension base="impl:WSO_STAFFOBJECT">
                        <sequence>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MPERSON">
                <complexContent>
                    <extension base="impl:WSO_STAFFOBJECT">
                        <sequence>
                            <element name="ISACTIVE" nillable="true" type="xsd:boolean"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_GROUP">
                <complexContent>
                    <extension base="impl:WSO_MGROUP">
                        <sequence>
                            <element name="LEADER" nillable="true" type="impl:WSO_MPERSON"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENTVISA">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENTVISA">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENTVISA">
                        <sequence>
                            <element name="DOCUMENT" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="APPVERSION" nillable="true" type="xsd:integer"/>
                            <element name="ACTIVITYNAME" nillable="true" type="xsd:string"/>
                            <element name="BLOCKNUM" nillable="true" type="xsd:integer"/>
                            <element name="BLOCKNAME" nillable="true" type="xsd:string"/>
                            <element name="REVIEWERNAME" nillable="true" type="xsd:string"/>
                            <element name="REVIEWER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="REALREVIEWER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="INDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="SIGNDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="DECISION" nillable="true" type="xsd:string"/>
                            <element name="COMMENT" nillable="true" type="xsd:string"/>
                            <element name="HASATTACH" nillable="true" type="xsd:boolean"/>
                            <element name="STATUS" nillable="true" type="xsd:integer"/>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_FORMACTION">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MTASK">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="DOCUMENT" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="PARENT" nillable="true" type="impl:WSO_MTASK"/>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                            <element name="ISCONTROL" nillable="true" type="xsd:boolean"/>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="DATEPLAN" nillable="true" type="xsd:dateTime"/>
                            <element name="SIGNER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="CONTROLLER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="MAINEXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="EXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="SUBEXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="STATUSNAME" nillable="true" type="xsd:string"/>
                            <element name="STATUSMOBILE" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_TASK">
                <complexContent>
                    <extension base="impl:WSO_MTASK">
                        <sequence>
                            <element name="COMMENTS" nillable="true" type="xsd:string"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="VIEWERS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="DATEFACT" nillable="true" type="xsd:dateTime"/>
                            <element name="DATESIGN" nillable="true" type="xsd:dateTime"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MAPPROVALREVIEW">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_APPROVALREVIEW">
                <complexContent>
                    <extension base="impl:WSO_MAPPROVALREVIEW">
                        <sequence>
                            <element name="APPROVAL" nillable="true" type="impl:WSO_APPROVAL"/>
                            <element name="REVIEWER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="DEADLINEDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="BEGINDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="ANSWERDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="SOLUTION" nillable="true" type="xsd:string"/>
                            <element name="REMARK" nillable="true" type="xsd:string"/>
                            <element name="STAGE" nillable="true" type="xsd:string"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="STATUS" nillable="true" type="xsd:string"/>
                            <element name="BLOCKNAME" nillable="true" type="xsd:string"/>
                            <element name="BLOCKTYPE" nillable="true" type="xsd:string"/>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_IN">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_IN">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_IN">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_URL">
                <sequence>
                    <element name="URL" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="WSO_URLFILE">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="OBJECT" nillable="true" type="impl:WSOBJECT"/>
                            <element name="OBJECTPROPERTYNAME" nillable="true" type="xsd:string"/>
                            <element name="NAME" nillable="true" type="xsd:string"/>
                            <element name="CREATIONDATE" nillable="true" type="xsd:dateTime"/>
                            <element name="VERSION" nillable="true" type="xsd:integer"/>
                            <element name="AUTHOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="REFERENCE" nillable="true" type="impl:WSO_URL"/>
                            <element name="BODY" nillable="true" type="xsd:string"/>
                            <element name="DATE" nillable="true" type="xsd:dateTime"/>
                            <element name="USER" nillable="true" type="xsd:string"/>
                            <element name="FIELDNAME" nillable="true" type="xsd:string"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_LINK">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="SOURCE" nillable="true" type="impl:WSO_MDOCUMENT"/>
                            <element name="TARGET" nillable="true" type="impl:WSO_MDOCUMENT"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OUT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OUT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OUT">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_ORD">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_ORD">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_ORD">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MTASKREPORT">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_TASKREPORT">
                <complexContent>
                    <extension base="impl:WSO_MTASKREPORT">
                        <sequence>
                            <element name="TASK" nillable="true" type="impl:WSO_MTASK"/>
                            <element name="EXECUTOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="COMMENTS" nillable="true" type="xsd:string"/>
                            <element name="ATTACHMENTS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_FILE">
                <sequence>
                    <element name="NAME" nillable="true" type="xsd:string"/>
                    <element name="BODY" nillable="true" type="soapenc:base64"/>
                </sequence>
            </complexType>
            <complexType name="WSO_PERSON">
                <complexContent>
                    <extension base="impl:WSO_MPERSON">
                        <sequence>
                            <element name="EMAIL" nillable="true" type="xsd:string"/>
                            <element name="PHONE" nillable="true" type="xsd:string"/>
                            <element name="FAX" nillable="true" type="xsd:string"/>
                            <element name="POST" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="PROXIES" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="TRUSTERS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="FIRSTNAME" nillable="true" type="xsd:string"/>
                            <element name="MIDDLENAME" nillable="true" type="xsd:string"/>
                            <element name="LASTNAME" nillable="true" type="xsd:string"/>
                            <element name="PHOTO" nillable="true" type="impl:WSO_FILE"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OG">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OGR">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OG">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OG">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OGR">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OGR">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDOCUMENT_OUT_DRAFT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_DOCUMENT_OUT_DRAFT">
                <complexContent>
                    <extension base="impl:WSO_MDOCUMENT_OUT_DRAFT">
                        <sequence>
                            <element name="COMMONPROPS" nillable="true" type="impl:WSO_DOCUMENTCOMMONPROPERTIES"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MISSIONLABEL">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="SUBJECT" nillable="true" type="xsd:string"/>
                            <element name="DATEPLAN" nillable="true" type="xsd:dateTime"/>
                            <element name="DATESIGN" nillable="true" type="xsd:dateTime"/>
                            <element name="ISCONTROL" nillable="true" type="xsd:boolean"/>
                            <element name="SIGNER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="CONTROLLER" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="MAINEXECUTOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="EXECUTORS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_GLOSSARYENTRY">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="CHILDS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_GLOSSARY">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="ITEMS" nillable="true" type="impl:WSO_COLLECTION"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="WSO_MDISCUSSION">
                <complexContent>
                    <extension base="impl:WSOBJECT">
                        <sequence>
                            <element name="AUTHOR" nillable="true" type="impl:WSO_MPERSON"/>
                            <element name="PARENTDOCID" nillable="true" type="xsd:string"/>
                            <element name="MESSAGE" nillable="true" type="xsd:string"/>
                            <element name="PARENTDISCUSSIONID" nillable="true" type="xsd:string"/>
                            <element name="READERS" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="RESPONSES" nillable="true" type="impl:WSO_COLLECTION"/>
                            <element name="CREATIONDATE" nillable="true" type="xsd:dateTime"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
        </schema>
    </wsdl:types>
    <message name="GETDOCUMENTSResponse">
        <part name="GETDOCUMENTSReturn" type="impl:WSO_COLLECTION"/>
    </message>
    <message name="GETROUTESResponse">
        <part name="GETROUTESReturn" type="impl:WSO_COLLECTION"/>
    </message>
    <message name="GETKILLDOCSRequest">
        <part name="CLIENTDOCS" type="impl:WSO_COLLECTION"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETFAKESIGNRequest"/>
    <message name="GETITEMRequest"/>
    <message name="GETITEMResponse">
        <part name="GETITEMReturn" type="impl:WSO_ITEM"/>
    </message>
    <message name="GETFAKESIGNResponse">
        <part name="GETFAKESIGNReturn" type="impl:WSO_EDS"/>
    </message>
    <message name="GETROUTESRequest">
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETDOCUMENTSRequest">
        <part name="DELTAUNID" type="xsd:string"/>
        <part name="ISMOBJECT" type="xsd:boolean"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETDISCUSSIONLISTRequest">
        <part name="DOCID" type="xsd:string"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETDOCUMENTResponse">
        <part name="GETDOCUMENTReturn" type="impl:WSO_MDOCUMENT"/>
    </message>
    <message name="GETKILLDOCSResponse">
        <part name="GETKILLDOCSReturn" type="impl:WSO_COLLECTION"/>
    </message>
    <message name="GETDOCUMENTSEXResponse">
        <part name="GETDOCUMENTSEXReturn" type="impl:WSO_COLLECTION"/>
    </message>
    <message name="DELEGATEDOCResponse">
        <part name="DELEGATEDOCReturn" type="xsd:boolean"/>
    </message>
    <message name="GETDOCUMENTSEXRequest">
        <part name="DELTAUNID" type="xsd:string"/>
        <part name="TYPESTATUSPAIRS" type="impl:WSO_COLLECTION"/>
        <part name="ISMOBJECT" type="xsd:boolean"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="CREATEDOCUMENTRequest">
        <part name="ROUTE" type="impl:WSO_ROUTE"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="CREATEDOCUMENTResponse">
        <part name="CREATEDOCUMENTReturn" type="xsd:string"/>
    </message>
    <message name="GETDOCUMENTRequest">
        <part name="ID" type="xsd:string"/>
        <part name="INCLUDEATTACHMENTS" type="xsd:boolean"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <message name="GETDISCUSSIONLISTResponse">
        <part name="GETDISCUSSIONLISTReturn" type="impl:WSO_COLLECTION"/>
    </message>
    <message name="DELEGATEDOCRequest">
        <part name="DOCUNID" type="xsd:string"/>
        <part name="PERSONUNID" type="xsd:string"/>
        <part name="CONTEXT" type="impl:WSO_CONTEXT"/>
    </message>
    <portType name="WS_DocumentManager">
        <operation name="GETFAKESIGN">
            <input message="impl:GETFAKESIGNRequest" name="GETFAKESIGNRequest"/>
            <output message="impl:GETFAKESIGNResponse" name="GETFAKESIGNResponse"/>
        </operation>
        <operation name="GETDISCUSSIONLIST" parameterOrder="DOCID CONTEXT">
            <input message="impl:GETDISCUSSIONLISTRequest" name="GETDISCUSSIONLISTRequest"/>
            <output message="impl:GETDISCUSSIONLISTResponse" name="GETDISCUSSIONLISTResponse"/>
        </operation>
        <operation name="GETROUTES" parameterOrder="CONTEXT">
            <input message="impl:GETROUTESRequest" name="GETROUTESRequest"/>
            <output message="impl:GETROUTESResponse" name="GETROUTESResponse"/>
        </operation>
        <operation name="CREATEDOCUMENT" parameterOrder="ROUTE CONTEXT">
            <input message="impl:CREATEDOCUMENTRequest" name="CREATEDOCUMENTRequest"/>
            <output message="impl:CREATEDOCUMENTResponse" name="CREATEDOCUMENTResponse"/>
        </operation>
        <operation name="GETKILLDOCS" parameterOrder="CLIENTDOCS CONTEXT">
            <input message="impl:GETKILLDOCSRequest" name="GETKILLDOCSRequest"/>
            <output message="impl:GETKILLDOCSResponse" name="GETKILLDOCSResponse"/>
        </operation>
        <operation name="GETDOCUMENT" parameterOrder="ID INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETDOCUMENTRequest" name="GETDOCUMENTRequest"/>
            <output message="impl:GETDOCUMENTResponse" name="GETDOCUMENTResponse"/>
        </operation>
        <operation name="GETDOCUMENTSEX"
                   parameterOrder="DELTAUNID TYPESTATUSPAIRS ISMOBJECT INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETDOCUMENTSEXRequest" name="GETDOCUMENTSEXRequest"/>
            <output message="impl:GETDOCUMENTSEXResponse" name="GETDOCUMENTSEXResponse"/>
        </operation>
        <operation name="GETDOCUMENTS" parameterOrder="DELTAUNID ISMOBJECT INCLUDEATTACHMENTS CONTEXT">
            <input message="impl:GETDOCUMENTSRequest" name="GETDOCUMENTSRequest"/>
            <output message="impl:GETDOCUMENTSResponse" name="GETDOCUMENTSResponse"/>
        </operation>
        <operation name="DELEGATEDOC" parameterOrder="DOCUNID PERSONUNID CONTEXT">
            <input message="impl:DELEGATEDOCRequest" name="DELEGATEDOCRequest"/>
            <output message="impl:DELEGATEDOCResponse" name="DELEGATEDOCResponse"/>
        </operation>
        <operation name="GETITEM">
            <input message="impl:GETITEMRequest" name="GETITEMRequest"/>
            <output message="impl:GETITEMResponse" name="GETITEMResponse"/>
        </operation>
    </portType>
    <binding name="DominoSoapBinding" type="impl:WS_DocumentManager">
        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GETFAKESIGN">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETFAKESIGNRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETFAKESIGNResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="GETDISCUSSIONLIST">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETDISCUSSIONLISTRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETDISCUSSIONLISTResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="GETROUTES">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETROUTESRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETROUTESResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="CREATEDOCUMENT">
            <wsdlsoap:operation soapAction=""/>
            <input name="CREATEDOCUMENTRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="CREATEDOCUMENTResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="GETKILLDOCS">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETKILLDOCSRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETKILLDOCSResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="GETDOCUMENT">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETDOCUMENTRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETDOCUMENTResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="GETDOCUMENTSEX">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETDOCUMENTSEXRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETDOCUMENTSEXResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="GETDOCUMENTS">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETDOCUMENTSRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETDOCUMENTSResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="DELEGATEDOC">
            <wsdlsoap:operation soapAction=""/>
            <input name="DELEGATEDOCRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="DELEGATEDOCResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
        <operation name="GETITEM">
            <wsdlsoap:operation soapAction=""/>
            <input name="GETITEMRequest">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </input>
            <output name="GETITEMResponse">
                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                               namespace="urn:DefaultNamespace" use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="WS_DocumentManagerService">
        <port binding="impl:DominoSoapBinding" name="Domino">
            <wsdlsoap:address
                    location="http://94.125.95.17:80/Referent/br_itws.nsf/WSBR_DocumentManager?OpenWebService"/>
        </port>
    </service>
</definitions>